body
{
    font-family:'Open Sans', sans-serif;

}

.contactNav-container
{
    background-color: #FCBA64;
}

.contact-info-title
{
color :#505050;
font-weight: bold;

}
.contact-info-text
{
color:#404040;
font-size: 14px;

}

.contact-si
{
        width: 26px;

}

.nav-item
{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

.nav-item
{
    transition: 1s ease;
}

.nav-item:hover 
{
color : #DC4A26
}

#nav-item-active
{
    color : #DC4A26

}

.banner-text
{
    font-size: 44px;
    font-weight: 400px;
    left: 23%;
    top: 38%;
}

.banner-image-container
{
    height: 700px;
    overflow: hidden;
}

.banner-image
{
    width: 100%;
}

.gradient-text {
    background: linear-gradient(to right, #FF5200, #FFC56E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height : 35px;

    
}

.main-content-text
{
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    font-size: 24px;
    font-weight:400 ;
}


.homes-titel ,.benefits-titel,.features-titel
{
    font-size: 30px;
    font-weight: 400;
}

.sub-title
{
    color: #505050;
    font-size: 18px;
    font-weight: 400;
}


.card-btn
{
    font-size: 15px;
    background-color: #7EA170;
}

.slick-prev:before, 
.slick-next:before {
    color: #7EA170 !important; 
}


.benefits-container{
background-color: #CAD5BF;

}




@media  (min-width:992px){
.fe-card-image
{
    height: 300px !important;
    width: 300px !important;
}
}


/* Tablet */
@media  (max-width:991.98px){
    
.banner-image
{
    width: 100%;
}

 .banner-image-container
{
    height: 500px;
    overflow: hidden;
}



}

/* Mobile */
@media (max-width:575.98px)
{
    .banner-image-container
    {
        height: 750px;
        overflow: hidden;
    }

    .banner-image
    {
        width: 100%;
        height: 100%;
    }




}